<!-- File about.html -->
{% extends 'layouts/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="body flex-grow-1 px-3">
      <div class="container-lg">
        <div class="card mb-4 d-none d-md-flex">
          <div class="card-header">About Us</div>
          <div class="card-body"> Cryptool <br> Website ini digunakan untuk mengenkripsi dan mendekripsi teks dan file. Algoritma yang digunakan adalah AES dan RSA. Pengguna dapat menggunakan hanya salah satu algoritma atau bisa menggunakan kedua algoritmanya. <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}